<ul>
  <li>.</li>
  <ul>
      <li><a href="/./filelist.html">filelist.html</a></li>
      <li><a href="/./file-lister.sh">file-lister.sh</a></li>
      <li><a href="/./manifest.webmanifest">manifest.webmanifest</a></li>
      <li><a href="/./robots.txt">robots.txt</a></li>
  </ul>
  <li>img</li>
  <ul>
      <li><a href="/img/android-chrome-192x192.png">android-chrome-192x192.png</a></li>
      <li><a href="/img/apple-touch-icon.png">apple-touch-icon.png</a></li>
      <li><a href="/img/banner.jpg">banner.jpg</a></li>
      <li><a href="/img/banner.png">banner.png</a></li>
      <li><a href="/img/banner-face-half-bw_05.png">banner-face-half-bw_05.png</a></li>
      <li><a href="/img/banner-lowres.jpg">banner-lowres.jpg</a></li>
      <li><a href="/img/banner-web.jpg">banner-web.jpg</a></li>
      <li><a href="/img/favicon-16x16.png">favicon-16x16.png</a></li>
      <li><a href="/img/favicon-32x32.png">favicon-32x32.png</a></li>
      <li><a href="/img/fotoprofil-bw-face.png">fotoprofil-bw-face.png</a></li>
      <li><a href="/img/fotoprofil-bw-halfbody.png">fotoprofil-bw-halfbody.png</a></li>
      <li><a href="/img/fotoprofil-color-face.png">fotoprofil-color-face.png</a></li>
      <li><a href="/img/fotoprofil-color-halfbody.png">fotoprofil-color-halfbody.png</a></li>
      <li><a href="/img/icon-128x128.png">icon-128x128.png</a></li>
      <li><a href="/img/icon-144x144.png">icon-144x144.png</a></li>
      <li><a href="/img/icon-152x152.png">icon-152x152.png</a></li>
      <li><a href="/img/icon-192x192.png">icon-192x192.png</a></li>
      <li><a href="/img/icon-384x384.png">icon-384x384.png</a></li>
      <li><a href="/img/icon-512x512.png">icon-512x512.png</a></li>
      <li><a href="/img/icon-72x72.png">icon-72x72.png</a></li>
      <li><a href="/img/icon-96x96.png">icon-96x96.png</a></li>
      <li><a href="/img/logo-name.svg">logo-name.svg</a></li>
      <li><a href="/img/mstile-150x150.png">mstile-150x150.png</a></li>
      <li><a href="/img/name-logo-long.svg">name-logo-long.svg</a></li>
      <li><a href="/img/safari-pinned-tab.svg">safari-pinned-tab.svg</a></li>
  </ul>
</ul>
